﻿@model IEnumerable<Producer>

@{
    ViewData["Title"] = "List of Producers";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">@Html.DisplayNameFor(model => model.ProfileImageUrl)</th>
                <th class="text-center">@Html.DisplayNameFor(model => model.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.Bio)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var producer in Model)
            {
                <tr>
                    <td class="align-middle text-center">
                        <img class="rounded-circle profile-img" src="@producer.ProfileImageUrl" alt="@producer.FullName image"/>
                    </td>
                    <td class="align-middle text-center">
                        @Html.DisplayFor(mItem => producer.FullName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(mItem => producer.Bio)
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-outline-primary"><i class="fa fa-pencil-square-o"></i>Edit</button> |
                        <button class="btn btn-outline-info"><i class="fa fa-eye"></i>Details</button> |
                        <button class="btn btn-danger text-white"><i class="fa fa-trash"></i>Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>